---
import Layout from '../layouts/Index.astro';
import CardList from '../components/CardList.vue';
---

<Layout title="Astro Solar System">
	<main class="p-8 prose max-w-none">
		<h1 class="ml-4 mb-8">Astro Solar System</h1>
		<CardList />
	</main>
</Layout>

